{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Register</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group{% if field.name == 'role' %} mb-5{% endif %}">
                {% if field.name == "role" %}
                    <label>{{ field.label }}</label>
                    <div>
                        {{ field }}
                    </div>
                {% else %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                {% endif %}
                
                {% if field.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
    <a href="{% url 'login' %}" class="btn btn-link mt-2">Already have an account?</a>
</div>
{% endblock %}